<footer class="bg-success text-light">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-lg-4">

                    <div class="footer-section ">
                        <h4>About the Library</h4>
                        <p>All books are securely reserved and protected; their ownership cannot be altered or tampered with.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">

                    <div class="footer-section">
                        <h4>Website Info</h4>
                        <p>Developed with care by Mohammed Al-jazzar.</p>
                        <ul>
                            <li><a href="{% url 'accounts:privacy_policy'%}">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4">

                    <div class="footer-section">
                        <h4>Connect With Us</h4>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook text-light p-1" style=" font-size: 24px;"></i></a>
                            <a href="#"><i class="fa fa-telegram text-light p-1" style="font-size: 24px;margin-left: 5px;"></i></a>
                            <a href="#"><i class="fa fa-instagram text-light p-1" style=" font-size: 24px; margin-left: 5px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            © 2025 Towards the Future Library. All rights reserved.
        </div>
    </div>
</footer>